@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;700&display=swap');
@import "./palm/palm.scss";
@font-face{
    font-family: "Jaapokki";
    src:url("../fonts/Jaapokki/Regular/web/jaapokki-regular.ttf");
}
@font-face{
    font-family: "Jaapokki";
    src:url("../fonts/Jaapokki/Regular/web/jaapokki-regular.ttf");
    font-weight: bold;
}
body,html{
    font-family: 'Jaapokki', serif;
}

h1 {
    color: #000000;
    font-size: 36px;
}

h2 {
    color: #000000;
}

p {
    font-size: 20px;
}
#first-section {
    background-color: white;

    & li {
        margin-bottom: 8px;
    }

    & ul {
        background-color: #F7F9FC;
        margin-top: 25px;
        padding: 30px 55px;
        border-radius: 8px;
    }
}

#second-section {
    background-color: #FBFBFB;
    .image {
        height: 75px;
        width: 75px;
        margin-top: 25 px;
        margin-bottom: 10px;;
    }
    .columns {
        margin-left: 100px;
        margin-right: 100px;
        align-items: flex-start;
    }
}

#third-section {
    @include for-phone-only {
        img {
            margin-top: 35px;
        }
    }
}

#fourth-section {
    background-image: url("../img/cattern.png");
    background-repeat: repeat;
    background-color: #F0F8FF;
    background-size: 192px 192px;
}

footer {
    text-align: center;
    padding: 35px 0px;
}

.footer-logo {
    height: 1rem;
}