.hero{
    background-color: #F0F8FF;
    background-image: url("../img/jumping_cats.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10rem;
    text-align: center;
    box-sizing: border-box;
}